{% extends 'sites/base.html' %}

{% block head_title %}トップページ{% endblock %}

{% block title %}トップページ{% endblock %}


{% block contents %}
<table id="data_table" class="table table-striped">
    <thead>
        <tr>
            <th>連番</th>
            <th>発売日</th>
            <th>CDタイプ</th>
            <th>CDタイトル</th>
            <th>DISC</th>
            <th>トラック</th>
            <th>曲名</th>
            <th>アーティスト</th>
            <th>作詞者</th>
            <th>作曲者</th>
            <th>編曲者</th>
        </tr>
    </thead>
    <tbody>
        {% for music in music_list %}
        <tr>
            <td>{{ music.numbering }}</td>
            <td>{{ music.published_date }}</td>
            <td>{{ music.type }}</td>
            <td>{{ music.cd_title }}</td>
            <td>{{ music.disk }}</td>
            <td>{{ music.track }}</td>
            <td>{{ music.music_title }}</td>
            <td>{{ music.artist }}</td>
            <td>{{ music.writer }}</td>
            <td>{{ music.composer }}</td>
            <td>{{ music.arranger }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block option_css %}
{% endblock %}

{% block option_js %}
$(function(){
    $('#data_table').DataTable();
});
{% endblock %}